@media screen and (max-width: 1204px) {
    html,body,.g-slide,.m-note,.g-crumb,.g-nav,.g-body{width:960px;}
    .g-nav .m-nav div{width: 272px;}
    .g-nav .m-nav div+div{margin-left: 67px;}
    .g-body .g-main,.g-main .m-main{width: 735px;}
}